@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600.700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #1c2021;
    text-decoration: none;
  }
  body  {
      background-color: #c1c4c1;
      
  }
  
.topnav {
  background-color: #3b5738;
  height: fit-content;
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
  word-spacing: 10px;
  position: fixed;
  top: 0;
}

#wbd {
  margin-left: 20px;
  margin-top: 12px;
  background-color: #3b5738;
  border-radius: 20px;
}


.top_main {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 80px;
  padding-left: 10px;
  width: 100%;
  height: fit-content;
  
  display: flex;
  justify-content: inline;
}

.mypic {

  border-radius: 70px;
  padding: 10px;
  height: fit-content;
  float: left;
  

}

/*  welcome text box */
.welcome {
  border: solid #1c2021;
  padding: 10px;
  width: 90%;
  height: 100%;
  
  
}
/* latest projects */
.bottom_main {
  margin-top: 30px;
  padding: 10px;
  width: 90%;
  height: 300px;
  border: #1c2021;
  border-width: 5px;
  border-style: solid;
}

footer {
  background-color: #3b5738;
  height: fit-content;
  margin-top: 60px;
  padding: 5px;
}