@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Geostar+Fill&family=Lobster&family=Permanent+Marker&family=Vollkorn:ital@1&display=swap');
* {
    padding: 0;
    margin: 100;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    color: #402f0d;
    
  }
/*  page main nav bar*/  
nav {
    width: 100%;
    height: fit-content;
    border: 0;
    background-color: #47622e;
    padding: 0px;
    padding-right: 25px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    

}
.logobar {
    background-color: #47622e;
    height: 50px;
    display: flex;
    font-family: 'Geostar Fill', cursive;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #47622e;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    font-size: 18px;
}
.navbutton {
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
    border: 0;
    background-color: #47622e;
    font-size: 15px;
    font-weight: bolder;

}
    
#logo {
    padding: 5px;
    margin-right: 5px;
}


/*  main page set up */
body  {
      background-image: url("assets/techbground.jpg.svg");  
      background-color: #99a099;
      background-size: cover;
      color: #664b14;
      margin-top: 115px;
      min-width: 350px;
      max-width: 1500px;
      padding: 10px;
      
}
/* ------------------END-------------------- */
/* template div */
.template_box1 {
    max-width: 900px;
    min-width: 300px;
    border-radius: 15px;
    border: #181b18 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: #e4e7e4;
    margin-bottom: 30px;
    margin-left: 15px;
}    
/* section 1 hero card */
.hero {
    background-color: #e4e7e4;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;

}
.hero_info {
    border: 0px ;
    margin: 10px;
    text-align: center;
    
}
.hero_img {
    border: 0px;
    margin: 15px;
}
.h_img {
    width: 300px;
    border-radius: 15px;
    padding: 1px;
}
/*  SECTION 2 - ABOUT ME - BRIEF INTRO TO ME  */
.about-me {
    border-radius: 15px;
    border: #181b18 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    background-color: #e4e7e4;
    margin-bottom: 30px;
   
}
.aboutme_img {
    max-width: 400px;
    min-width: 150px;
    
}
.aboutme_txt {
    max-width: 600px;
    min-width: 300px;
}
/*  headshot pic settings  */
.myheadshot {
    width: 125px;
    height: 125px;
    border-radius: 75px;
    margin: 15px;

}
button {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    background-color: #495049;
    font-size: 15px;
    box-shadow: 2px 5px #181b18;

}
.button {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    background-color: #495049;
    font-size: 15px;
    box-shadow: 2px 5px  #181b18;
}
/* ------------------END-------------------- */

/*  SECTION 3 PROJECT CARD DISPLAY*/
.cards_container {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
 .cardbase {
    background-color: #e4e7e4;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    width: 225px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 8px 10px #495049;
}
.crd_img {
    height: 40%;
    width: 99%;
        
}
.img_size {
    height: 140px;
    width: 98%;
    border-radius: 4%;
}
.crd_info {
    height: 55%;
    width: 99%;
    padding: 5px;
    background-color: #e4e7e4;
} 
/* ------------------END-------------------- */
/* hire me contact form */
.inbound-form-wrapper {
width: 60%;
padding: 25px;
}

/*  END OF PAGE - contacts and copyright legal, disclaimers */
footer {
  background-color: #495049;
    margin-top: 40px;
    padding: 5px;
    width: 95%;
    height: fit-content;
    
}
